@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('img/dharm.jpg') no-repeat center center fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.dvs{
    display: flex;
    padding: 0;
    justify-content: center;
}

.dv2{
    width: 100%;
}

.dv3{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.dv-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 50px;
    line-height: 1rem;
    height: 15vh;
    font-size: 5rem;
    font-weight: 100;
    cursor: pointer;
    padding: 15px 0;
    min-width: 25%;
    background-color: #EEEEEE;
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;
    text-align: center;
    transition: .1s ease-in;
}

.operator {
    font-size: 3rem;
}

.operator.small {
    font-size: 2.5rem;
}

.dv-btn:hover {
    background-color: #FBE9E7;
    color: crimson;
}

.dv-btn:first-child {
    border-left: none;
}

.dv-btn:last-child {
    border-right: none;
}

.dv-btn.teal {
    background-color: lightcoral;
    color: #0E2E3B;
}

.dv-btn.teal:hover {
    background-color: crimson;
    color:#f54;
}

.dvs5 .dv-btn {
    border-bottom: none;
}

.dvs5 .eq {
    
    color: #0E2E3B;
}

.fill-button {
    cursor: default;
}

.fill-button:hover {
    background-color: #e0e0e0;
}

.fa-info-circle {
  color: #009688;
}

.fa-info-circle:hover {
  color: #80CBC4;
}


.dv-3 {
    background: radial-gradient(#D8D7C3, brown);
    color: #0E2E3B;
    border: 1px solid #fa9;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



.dv-3:hover, .dv-3:focus {
    background: radial-gradient(#D8D7C3 40%, #f64);
    color: #f54;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

#display {
    font-size: 9rem;
    padding: 5px 10px;
    text-align: right;
    background-color: rgba(0,0,0,0.7);
    color: rgba(203,120,86,0.8);
    height: 25vh;
    width: 100%;
}

.col-dv-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}
.col-dv-12{float:left}.col-dv-12{width:100%}


dv {
    color: #000;
}

dv h3 {
    margin-bottom: 30px;
}


dv .dvs9 {
    padding: 25px 0;
    background-color:lightsteelblue;
}

 .dv1{
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

 	
	p{
	font-size:12px;
	text-align:justify;
	margin-top:10px
	}

	a,p{
	font-weight:200
	}
	
	a{
	font-size:18px
	}


.no-padding:hover span.text-content{
opacity:1
}
span.text-content span{
display:table-cell;
text-align:center;
vertical-align:middle
}
.dv1
{
margin-top:0;
margin-bottom:0
}
.dv-sub{
margin-bottom:2px
}
.center-icon{
text-align:center
}
.text-right{
padding:6px
}
.fa{
padding-left:10px
}
.section{
padding-top:50px
}
.section-container{
padding-top:50px;
padding-bottom:50px;
border-bottom:1px solid #dbdbdb
}
.section.row{
margin-right:-15px;
margin-left:-15px
}
.footer{
border-top:1px solid #dbdbdb
;background:black;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, rgba(200,100,100,.9), rgba(100,200,100,.5), rgba(100,100,200,.9), rgba(100,200,100,.5),rgba(200,100,100,.9));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(200,100,100,.9), rgba(100,200,100,.5), rgba(100,100,200,.9), rgba(100,200,100,.5),rgba(200,100,100,.9));
padding:20px 0 25px}
.footer ul{
list-style-type:none;
padding-left:0}
.footer li{
color:#000;
font-weight:600}
@media (max-width:500px){
img.col-md-6{
padding:50px;
width:100%}
}
